In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
comb = pd.read_csv('combined.csv')

In [5]:
comb.head()

,Unnamed: 0,movieId,title,genre,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,478,840,468,2160,1665,11872,6095,22710,5684,16497
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,276,813,542,2551,1902,8711,3116,6303,790,2139
2,2,3,Grumpier Old Men (1995),Comedy|Romance,174,777,237,1677,629,6227,774,3440,159,1491
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,48,352,31,497,77,1136,68,557,12,211
4,4,5,Father of the Bride Part II (1995),Comedy,248,802,282,1737,681,6655,761,2989,174,1145

In [8]:
# print all movies with 30% of ratings >4.5 and 30 % of ratings <1.0

polarizedMovies = []

for index, row in comb.iterrows():
    totalMovieRatings  = row['0.5'] + row['1.0'] + row['1.5'] + row['2.0'] + row['2.5'] + row['3.0'] + row['3.5'] + row['4.0'] + row['4.5'] + row['5.0']
    highRatings = row['4.5'] + row['5.0']
    lowRatings = row['0.5'] + row['1.0']
    try:
        if (highRatings/totalMovieRatings >= 0.40) and (lowRatings/totalMovieRatings >= 0.40):
            polarizedMovies.append(row['title'])
    except:
        continue

In [ ]:
numPolarizedMovies = len(polarizedMovies)

# plot the count for 40%, 30%, 20%, 10% and 5% of polarized movies